<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Spring的快速入门========= -->
    <bean id="userService" class="io.cxh.spring.demo1.UserServiceImpl">
        <!-- 依赖注入 -->
        <property name="name" value="老王(XML配置中)"/>
    </bean>

    <!-- Spring 的创建Bean的方式 -->
    <!-- 无参数构造方法实例化Bean(默认) -->
    <bean id="bean1" class="io.cxh.spring.demo2.Bean1"></bean>

    <!-- 静态工厂实例化 -->
    <bean id="bean2" class="io.cxh.spring.demo2.Bean2Factory" factory-method="getBean2Instance"/>

    <!-- 实例工厂实例化 -->
    <bean id="bean3Factory" class="io.cxh.spring.demo2.Bean3Factory"></bean>
    <bean id="bean3" factory-bean="bean3Factory" factory-method="getBean3Instance"/>

    <!-- Bean的作用范围 -->
    <!--<bean id="orderDao" class="io.cxh.spring.demo3.OrderDao" scope="prototype" />-->
    <bean id="orderDao" class="io.cxh.spring.demo3.OrderDao" init-method="setUp" destroy-method="tearDown" />

</beans>